* {
  margin: 0;
  padding: 0;
}

picture {
  text-align: center;
  margin: 0 auto;
  display: block;
}

@media (min-width: 993px) {
  picture {
    width: 100%;
    display: block;
  }

  picture img {
    width: 100%;
  }
}
