body {
  margin: 0;
}

.box {
  width: 100px;
  height: 100px;
  background-color: blue;
}

@keyframes animate {
  20% {
    transform: translate(0, calc(100vh - 100px));
    border-radius: 50%;
    background-color: blueviolet;
  }

  40% {
    transform: translate(calc(100vw - 100px), calc(100vh - 100px));
    background-color: red;
  }

  60% {
    transform: translate(calc(100vw - 100px), 0);
    background-color: aqua;
  }

  80% {
    transform: translate(0, calc(100vh - 100px));
    background-color: black;
    border-radius: 0;
  }

  100% {
    transform: translate(0, 0);
  }
}

.box-animate {
  animation: animate 10s ease-in-out forwards alternate;
}
