.line {
  display: flex;
  justify-content: space-between;
  margin: 16px 0;
}

$colors: (
  'main': red,
  'primary': blue,
  'secondary': green,
  'tertiary': yellow,
  'neutral': gray,
);

@each $name, $color in $colors {
  .btn-#{$name} {
    color: $color;
  }
}

$bg-colors: (
  'main': red,
  'primary': blue,
  'secondary': green,
  'tertiary': yellow,
  'neutral': gray,
);

@each $name, $bg-color in $bg-colors {
  .btn-bg-#{$name} {
    background-color: $bg-color;
  }
}

$text-colors: (
  'main': red,
  'primary': blue,
  'secondary': green,
  'tertiary': yellow,
  'neutral': gray,
);

@each $name, $text-color in $text-colors {
  .text-#{$name} {
    color: $text-color;
  }
}
