* {
  margin: 0;
  padding: 0;
}

picture {
  display: flex;
  justify-content: center;
}

@media (min-width: 993px) {
  picture {
    width: 100%;
    display: block;
  }

  picture img {
    width: 100%;
  }
} ;
